body {
  background-color: rgb(243, 244, 247);
  width: 95%;
}

.main-header {
  right: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0 !important;
  left: 265px;
  width: calc(100% - 250px);


  .headers {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
    align-items: center;

    .menu {
      display: none;
    }



    .search-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(231, 234, 238);
      width: 250px;
      padding: 0 1.2rem;
      height: 40px;
      margin-left: 5rem;
      border-radius: 25px;

      input {
        width: inherit;
        height: inherit;
        margin-left: .8rem;
        background-color: transparent;
        border: none;

      }

      input:active {
        border-color: #747af2;
      }

    }

    .bar-content {
      display: flex;
      align-items: center;
      margin-right: 2rem;


      .notification {
        position: relative;

        .dot {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
          top: -1px;
          right: -1px;

        }
      }


      .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* background-color: aqua; */
        margin-right: .8rem;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .notification,
      .log,
      .messages,
      .agenda,
      .mode {
        margin-right: 1rem;
      }

      .mode {
        border-left: 1px solid rgb(88, 88, 88);
        border-right: 1px solid rgb(88, 88, 88);
        padding: 0 .8rem;
        margin-left: 1rem;
      }

    }

  }
}




.navbar {
  left: 0;
  width: 250px;
  background-color: #212631;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-left: 1rem;
  top: 0;

  a,
  h4 {
    color: #f3f4f7;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    padding-left: .3rem;
  }

  h3 {
    color: #6b7785;
    margin-left: .5rem;
    font-size: 20px;

  }

  .header-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }

  .dashboard:hover,
  .component-icon:hover {
    background-color: #6b7785;
    border-radius: 5px 0 0 5px;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    position: relative;

    .icon {
      margin-left: .5rem;
      margin-right: .3rem;
    }

    .new,
    .pro {
      position: absolute;
      margin-left: 75%;
      width: 40px;
      height: 15px;
      background-color: #fff;
      font-weight: 700;
      text-align: center;
      border-radius: 5px;

    }

    .new {
      background-color: #747af2;
    }

    .pro {
      background-color: #ef376e;
      width: 37px;

    }

    .dashboard {
      display: flex;
      align-items: center;



    }

    .component {
      display: flex;
      flex-direction: column;

      .dropdown {

        margin-top: -1rem;

        .dropdown-item {
          margin-top: -.7rem;

        }

      }

      #new {
        position: absolute;
        margin-left: 61.5%;
      }


    }

    .component-icon {
      display: flex;
      align-items: center;
      position: relative;

      .icon.chevron {
        transition: transform 0.3s ease;
        position: absolute;
        left: 80%;

      }

      .icon.chevron.rotate {
        transform: rotate(180deg);
      }



    }
  }

}






.main-content {


  margin-top: 70px;
  margin-left: 250px;
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  /* height:1900; */
  margin-bottom: 2rem;
  padding-top: 2rem;



  .content {
    margin-top: -5rem;
    width: 110%;

    h1,
    a {
      text-align: left;
      margin-bottom: .5rem;
    }

    /* background-color: #212631; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .content-1 {
      margin-bottom: 2rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      /* background-color: #c36464; */
      justify-content: space-between;

      .sales-container {
        height: 370px;
        width: 30%;
        /* background-color: #fff; */
        /* border-radius: px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .sales {
          width: 100%;
          height: 60%;
          background-color: #fff;
          border-radius: 7px;
          box-shadow: 0 2px 20px rgb(0, 0, 0, 0.1);
          display: flex;

          flex-direction: column;

          .sales-1 {

            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: .5rem;
            height: 25%;
            text-align: left;

            h4 {
              margin-top: -.1rem;
              font-size: 25px;
            }

            .month {
              margin-top: -1.5rem;
              color: #adafb3;
            }

            .price {
              color: #4383de
            }
          }

          .graphs {
            width: 100%;
            height: 75%;
            padding-top: .5rem;
 
          }


        }

        .cust-order {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 35%;
          /* background-color: blue; */

          .customer {
            width: 45%;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0 2px 20px rgb(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;

            .customs{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 .5rem;

              .custom{
                color: rgb(148, 150, 153);
              }
              .users{
                background-color:rgb(67, 132, 222, 0.2) ;
                padding:.4rem;
                border-radius: 3px;
                color:rgb(67, 132, 222);
              }
            }
            
            h4{
              font-size: 25px;
              text-align: left;
              margin-top: .2rem;
              margin-left: .5rem;
            }
            .down{
              margin-top:-1.5rem;
              margin-left: .5rem;
              text-align: left;
              color: rgb(230, 59, 46,0.7)

            }
            .up{
              margin-top:-1.5rem;
              margin-left: .5rem;
              text-align: left;
              color: rgba(50, 144, 24, 0.7)
            }
          }

          .order {
            width: 45%;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0 2px 20px rgb(0, 0, 0, 0.1);
          }

        }

      }

      .traffic {
        width: 68%;
        background-color: #fff;
        height: 370px;
        border-radius: 7px;
        box-shadow: 0 2px 20px rgb(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: start;
       

        .traffic-date {
          height: 25%;
          margin-left: .5rem;
          margin-top: .5rem;

          h4 {
            margin-top: -.1rem;
            font-size: 25px;
            text-align: left;
          }

          .month {
            margin-top: -1.5rem;
            color: #adafb3;
          }
        }

        .traffic-chart{
          width: 100%;
          height: 75%;
          margin-left:1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }

    .content-2 {
      width: 100%;
      Height: 700px;
      /* background-color: #a89292; */
      display: flex;
      justify-content: space-between;

      .user {
        width: 70%;
        height: 100%;
        background-color: #fff;
        border-radius: 7px;
        box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);

      }

      .rate {
        width: 28%;
        height: 100%;
        /* background-color: #d69112; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .user-rate,
        .conversion,
        .session {
          height: 30%;
          width: 100%;
          background-color: #fff;
          border-radius: 7px;
          box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
        }
      }

    }

    .content-3 {
      margin-top: 2rem;
      height: 500px;
      width: 100%;
      background-color: #fff;
      border-radius: 7px;
    }
  }

  /* styling the charts */
  .charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    width: 110%;


    .chart {
      background-color: #fff;
      padding: .3em;
      margin: .5rem 1rem .5rem 0;
      border-radius: 5px;

      h4 {
        color: #a6a8ab;
        border-bottom: 1px solid #a6a8ab;
      }

    }
  }


}




.footer {
  bottom: 0;

  /* width: 83%; */
  margin-left: 260px;
  bottom: 0;
  border-top: 1px solid #a6a8ab;
  background-color: #fff;
  height: 30px;
  align-items: center;
  text-align: center;
  right: 0;
  /* position: fixed; */
  left: 265px;
  width: calc(103.5% - 250px);
}

/* tablet mode */
@media (max-width: 820px) {
  .footer {
    width: 105%;
    margin-left: 0px;
  }

  .main-header {
    right: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0 !important;
    left: -20px;
    width: 105%;

    .headers {
      .menu {
        display: inline;
        margin-left: 4rem;
      }

    }


  }

  .navbar {
    display: none;
  }

  .main-content {
    /* position: fixed; */
    margin-top: 60px;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: -4rem;


    .content {
      width: 120%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: 0rem;




      .content-1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        .sales-container {
          /* background-color: white; */
          height: 500px;
          width: 100%;
          display: flex;
          flex-direction: column;

          .sales {
            background-color: #fff;
            height: 69%;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 7px;
            box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);
            display: flex;
            flex-direction: column;

            .sales-1 {
  
              display: flex;
              justify-content: space-between;
              align-items: start;
              margin: .5rem;
              height: 25%;
              text-align: left;
  
              h4 {
                margin-top: -.1rem;
                font-size: 25px;
              }
  
              .month {
                margin-top: -1.5rem;
                color: #adafb3;
              }
  
              .price {
                color: #4383de
              }
            }

            .graphs {
            
              height: 75%;
              padding-top: .5rem;
              box-sizing: border-box;
              /* display: block; */
              height: 250px;
              width: 100%;
   
            }
          }

          .cust-order {
            display: flex;
            margin-top: 1rem;
            height: 30%;
            width: 100%;
            margin-top: .5rem;
            margin-bottom: 2rem;

            .customer,
            .order {
              background-color: #fff;
              width: 49%;
              height: 100%;
              border-radius: 7px;
              box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);
            }

            .order {
              margin-left: 1.5rem;
            }


          }
        }

        .traffic {
          align-items: center;
          background-color: #fff;
          border-radius: 7px;
          height: 370px;
          width: 100%;
          box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);


        }

      }

      .content-2 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        height: 500px;
        flex-wrap: wrap;
        justify-content: space-between;


        .user {
          /* background-color: #efa9a9; */
          width: 100%;
          height: 65%;

        }

        .rate {
          width: 100%;
          height: 30%;
          /* background-color: #d69112; */
          display: flex;
          justify-content: space-between;
          flex-direction: row;

          .user-rate,
          .conversion,
          .session {
            height: 100%;
            width: 30%;
            background-color: #fff;
            border-radius: 7px;
          }
        }
      }

    }

    .charts {
      width: 120%;
      /* margin-left: 3.5rem; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;

      .chart {
        background-color: #fff;
        padding: .3rem;
        width: 90%;
        margin: .5rem 1rem .7rem 0;
        border-radius: 5px;
        box-shadow: 0 2px 20px rgb(0, 0, 0, 0.1);

        h4 {
          color: #a6a8ab;
          border-bottom: 1px solid #a6a8ab;
        }

      }
    }
  }

}


/* mobile Mode */
@media(max-width: 481px) {
  .footer {
    width: 125%;
    margin-left: -2rem;

  }

  .main-header {
    right: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0 !important;
    left: 10px;
    width: 100%;



    .headers {
      .menu {
        display: inline;
        margin-left: .5rem;
      }

      .search-bar,
      .log,
      .mail,
      .notification {
        display: none;
      }
    }

  }

  .navbar {
    display: none;
  }

  .main-content {
    /* position: fixed; */
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -2rem;


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: -3rem;




      .content-1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        .sales-container {
          /* background-color: white; */
          height: 500px;
          width: 100%;
          display: flex;
          flex-direction: column;

          .sales {
            background-color: #fff;
            height: 60%;
            width: 100%;
            margin-bottom: 1rem;
            border-radius: 7px;
            box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);
            display: flex;

          flex-direction: column;

          .sales-1 {

            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: .5rem;
            height: 25%;
            text-align: left;

            h4 {
              margin-top: -.1rem;
              font-size: 25px;
            }

            .month {
              margin-top: -1.5rem;
              color: #adafb3;
            }

            .price {
              color: #4383de
            }
          }

          .graphs {
            width: 100%;
            height: 75%;
            padding-top: .5rem;
 
          }

          }

          .cust-order {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            height: 49%;
            width: 100%;
            margin-top: .5rem;
            margin-bottom: 2rem;

            .customer {
              background-color: #fff;
              width: 100%;
              height: 50%;
              border-radius: 7px;
              box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);
              margin-top: .5rem;
            }


          }
        }

        .traffic {
          align-items: center;
          background-color: #fff;
          border-radius: 7px;
          height: 370px;
          width: 100%;
          box-shadow: 0 5px 5px 5px rgba(214, 213, 213, 0.37);



        }

      }

      .content-2 {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        height: 500px;
        flex-wrap: wrap;
        justify-content: space-between;


        .user {
          /* background-color: #efa9a9; */
          width: 100%;
          height: 55%;


        }

        .rate {
          width: 100%;
          height: 45%;
          /* background-color: #d69112; */
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;


          .user-rate,
          .conversion,
          .session {
            margin-top: .5rem;
            height: 31%;
            width: 100%;
            background-color: #fff;
            border-radius: 7px;
          }
        }
      }

    }

    .charts {
      width: 90%;
      margin-left: -4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .chart {
        background-color: #fff;
        padding: .3rem;
        /* margin: .5rem 1rem .7rem 0; */
        border-radius: 5px;
        width: 120%;

        h4 {
          color: #a6a8ab;
          border-bottom: 1px solid #a6a8ab;
        }

      }
    }
  }
}