body{
  background: black;
}
.to-do-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  height: 35px;
  border-radius: 5px;
  border:none;
  background-color: rgb(206, 199, 199);
 
}

.add-button{
 height: 35px;
 border-radius: 5px;
 cursor: pointer;
 border:none;
 background-color: rgb(71, 180, 71);
 margin-left: 5px;
 font-weight: bold;
}
li{display: flex;
  justify-content: space-around;
  border: 1px solid black;
  width: 400px;
  height:40px;
  margin: 5px 0;
  border-radius: 5px ;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  position: relative;
}
.delete-button, .move-button-up, .move-button-down{
  height: 30px;
  margin-top: 5px;
}
.delete-button{
  position: absolute;
  background-color: rgb(214, 104, 31);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  right: 25%;
}
.move-button-down{
  position: absolute;
  background: rgb(108, 191, 216);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  right:5%;
  font-weight: 700;
}
.move-button-up{
  position: absolute;
  background: rgb(108, 191, 216);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  right:15%;
}
.text{
 position: absolute;
 left:20%;
 font-weight: bold;
 padding-top:8px ;
}
