/* body{
  background-color: rgb(124, 123, 123);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top:100px;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 4rem;
  color:white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color:white;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  transition: background-color 0.5 ease;

} */