.job-container{

    width: 75vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 5px;

    margin: 1.3rem 0;
    position:relative;

    box-shadow: 0px 0px 0px 0px rgb(91, 164, 164, 0.5);

    /* @media only screen and (max-width: 375px){
        flex-direction: column;
        align-items: flex-start;
        width: 80vw;
        padding-button: 1rem;
        margin-button: 2rem; } */
    
    .logo{
        display: flex;
        align-items:center;
        padding-right: 1.5rem;

 }        @media only screen and (max-width: 375px){
            position: absolute;
            top: -2rem;
            img{
                width: 4rem;
                height:auto;
            }
         }
    }

    .part1{
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        @media only screen and (max-width: 375px){
            flex-grow:0;
            padding-bottom: 1.3rem 0;
        }
        .company{
            .cname{
                font-weight: 700;
                color: rgb(109, 225, 233);
                margin-right: 0.8rem;
             
            }
            .new,.featured{
                color:#fff;
                background-color: rgb(22, 160, 170);
                border-radius: 1rem;
                padding: 0.4rem;
                font-size: 0.7rem;
                font-weight: 700;
                text-transform: uppercase;
                margin-right:.5rem;

            }
            .featured{
                background-color:rgb(29, 28, 28);
            }
        }

        .position{
            font-weight: 700;
            display: inline-block;
            font-size: 1.1rem;
            padding: 0.7rem 0;
        }
        .details{
         color: rgb(29, 28, 28);
        }
    }
        .part2{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media only screen and (max-width: 375px){
                border-top: 1px solid rgba(91, 189, 206, 0.192);
                padding-top: 1rem;
                justify-content: flex-start;
            }
        span{
            &:not(:last-child){
                margin-right: 1rem;
            }

            @media only screen and (max-width: 375px){
            
                margin-bottom: 1rem;
            }
            background-color: rgba(91, 189, 206, 0.192) ;
            color:rgb(109, 225, 233);
            font-weight: 700;
            padding: 0.5rem;
            border-radius: 5px;
            cursor: pointer; 
            margin-bottom:0.7rem;
        } 
    }

    
    .borderLeft{
        border-left: 5px solid rgb(22, 160, 170);
    }
   